<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/appendPost.js" defer></script>
    <script src="/scripts/appendHero.js" defer></script>
    <script src="/scripts/areaTriangle.js" defer></script>
    <script src="/scripts/verifyID.js" defer></script>
    <script src="/scripts/pyramid.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Kwanhathai</title>
</head>
<body>